* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    padding-top: 25px;
    color: white;
}

table {
    margin: 20px;
}

th {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

td {
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.verde {
    background-color: rgb(150, 250, 0);
    width: 200px;
}

button {
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: rgb(150, 250, 0);
    cursor: pointer;
    border: 0;
    border-radius: 15px;
}

a {
    text-decoration: none;
}


